/* Entire Page- Used for full page Background */
html {
    background: rgb(127,177,186) url(./Abstract\ BG.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

* {
    box-sizing: border-box;
}

/* Anchor Tags- Change the hyperlink text colors */
a {
    color: rgb(22,58,84);
}

a:hover {
    color: rgb(95, 163, 252);
}

/* General changes to the page */
body {
    background: transparent;
    color:rgb(22,58,84);

    font-family: 'Architects Daughter';

    position: relative;
    min-height: 100vh;
    padding-top: 65px;
    padding-bottom: 65px;
}

/* Navigation Bar */
nav.navbar {
    position:fixed;
    width:100%;
    top: 0;
    z-index: 2;

    background-color: rgb(238,255,251,0.75);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgb(22,58,84);
    font-weight: bold;
}

.dropdown-menu {
    background-color: rgb(238,255,251,0.75);
    color: rgb(22,58,84);
    border: 2px solid rgb(128,251,242);
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(22,58,84);
    background-color:#80acff;
}

img.signature {
    height: 40px;
}

/* Header */
header {
    text-align: center;
}

h1.header {
    font-weight: bold;
    font-size: 40px;

    margin: 20px auto;
}

/* Main Body Wrapper */
div.container {
    margin: 10px auto;

    background: rgb(238,255,251,0.50);

    padding-top: 10px;
    border-radius: 25px;
    border: 2px solid rgb(128,251,242);
}

/* Paragraphs and Details */
p.summary,
ul.summaryBullets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    font-size: 20px;
}

.summaryCenter {
    text-align: center;
}

div.centerMe {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Display Images */
img.artworkDisplay {
    display:block;
    margin: 10px auto;

    width: 100%;
    object-fit: contain;

    border-radius: 25px;
}

img.carouselImage{
    display:block;
    margin: 10px auto;

    width: 100%;
    object-fit: contain;
    
    max-width: 800px;
    max-height: 800px;
}

/* Contact Form Inputs Styling */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(128,251,242);
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=button] {
    background-color: rgb(238,255,251);
    color: rgb(22,58,84);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
  
input[type=button]:hover {
    background-color:red;
    /* background-color: rgb(123, 173, 214); */
}

/* Footer Styling */
footer {
    font-size: 16px;
    text-align: center;

    background-color: rgb(238,255,251,0.5);

    width: 100%;
    position: absolute;
    bottom: 0px;

    border-top: solid 5px;
    border-image: radial-gradient(#80acff, rgb(128,251,242)) 1;
}

img.footerIcons {
    margin: 5px 20px;
    width: 50px;
    height: 50px;
}

a.footerReturn {
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/* Notes
Border Color: rgb(128,251,242)
Text Color: rgb(22,58,84);
Background Color: rgb(238,255,251,0.5);
*/